/fontes/SiedlerHerois/nbproject/private/
/fontes/SiedlerHerois/build/
/fontes/FormatandoData/nbproject/private/
/fontes/Teste/nbproject/private/
/fontes/Teste/build/
/fontes/Teste/dist/
/projeto herois/SiedlerHerois/dist/